{% extends 'base.html.twig' %}
{% block title %}All Participant{% endblock %}

{% block body %}
<h1>Voir tous les participants</h1>
{{ include ('participant/_form.html.twig', {'button_label': 'Update'}) }}