body {
padding-top: 30px;

}

.bg-gradient {
    background-image: var(--bs-gradient);.
}

h1 {
    display: flex;
    justify-content: center;
}

.header_h1 {
    color:darkgrey;
}

.div_button {
    display: flex;
    justify-content: center;
}

.link_button {
    color: ghostwhite;
    text-decoration: none;
}

.accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.accueil-left {
    display: flex;
    align-items: center;
}

.accueil-right {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

.filters_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.left {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit a {
    text-decoration: none;
}