.bg-gradient {
    background-image: var(--bs-gradient);.
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 74vh;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.header_h1 {
    color:darkgrey;
}

.div_button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.login-error {
    display: flex;
    justify-content: center;
}

.link_button {
    color: ghostwhite;
    text-decoration: none;
}

.accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.accueil-left {
    display: flex;
    align-items: center;
}

.accueil-right {
    display: flex;
    flex-direction: column;
}

.action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

.filters_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filter-left {
    order: 1;
    margin-right: 3em;
}

.filter-right {
    order: 2;
}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#table {
    box-shadow: rgb(100, 100, 100) 0 10px 100px -5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.submit a {
    text-decoration: none;
}

.placeForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.placeForm-img{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    max-width: 2em;
}

.btn-fixed-width {
    width: 100px;
}

td .status-created {
    background-color: yellow;
}

td .status-open {
    background-color: green;
    color: white;
}

td .status-published {
    background-color: blue;
    color: white;
}

.show label {
    font-weight: bold;
}

.show-left {
    display: flex;
    flex-direction: row;
}

.show-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.show-left label {
    font-weight: bold;
}

.show-right label {
    font-weight: bold;
}

.liste-participant {
    display: flex;
    justify-content: center;
    flex-direction: column;
}