<!-- ***** HEADER ******** -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Symfony Project/Gpe1</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">S'inscrire</a>
                </li>
        </ul>
    </div>
</nav>
<!-- ***** END HEADER ******** -->

<!-- ***** SECTION ******** -->

<div class="p-2 bg-primary text-white text-center">
    <div class="img-head">

        <img src="{{ asset('assets/img/cover.jpg') }}" width="50%" alt="img">

        <h1>Symfony Project</h1>
        <p>Développer une application Sortir.com suivant un cahier de charges </p>
    </div>
</div>




